
li{
    display: inline;
    float: right;
}

a{
    display: block;
    padding: 8px;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.navbar{
    position:fixed;
    top: 0;
    width: 99%
}

.Google_logo{
    margin-top: 200px;
    margin-bottom: auto;
    padding: 70px 0px 0px 0px;
    text-align: center;
}

.Search{
    margin-top: 8px;
    padding: 8px;
    text-align: center;
}

.footer{
    position:fixed;
    bottom: 0;
    width: 99%
}
