
#topbox{
    width: 1843px;
    height: 86px;
}

.rightbox{
    width: 284px;
    height: 86px;
    float: right;
}

.float-container{
    /*border: 3px solid black;*/
    height: 36px;
    padding-bottom: 40px;
    padding-left: 82px;
}

.floatchildleft{
    width: 10%;
    float: left;
    padding-top: 20px;
    padding-left: 30px;
    /*border: 2px solid red;*/
}

.Google_logo{
    margin-top: 200px;
    margin-bottom: auto;
    padding: 70px 0px 0px 0px;
    text-align: center;
}

.Search{
    margin-top: 8px;
    padding: 8px;
    text-align: center;
}

footer{
    position:fixed;
    bottom: 0;
    height: 46px;
    width: 1846px;
}

.left{
    float: left;
}

.rightf{
    float: right;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

.floatchildright{
    float: right;
    padding-top: 20px;
    padding-left: 30px;
    /*border: 2px solid red;*/
}